body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Pretendard', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; /* 쉼표 → 세미콜론 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
